/.vs/
/packages/
/.vscode/
.DS_Store
*.dSYM
/*.vcxproj.user
*.aps
/obj/
/bin/
/assets/overworld/*.yaml
/assets/dungeon/*.yaml
/assets/img/
/assets/old/
/zelda3.sfc
/zelda3.smc
/saves/*.sav
/saves/sram.dat
/saves/sram.bak
/zelda3
__pycache__
/src/*.o
/*.exe
/*.out
/snes/*.o
/msu/
/tmp/
/zelda3_assets.dat
/SDL2.dll
/zelda3.*.ini
/zelda3.wiki
/sprites-gfx
/glsl-shaders
/token.txt
