/.vs/
/packages/
.DS_Store
*.dSYM
/Debug
/Release
/x64
/tables/overworld/*.yaml
/tables/dungeon/*.yaml
/tables/img/
/tables/old/
/tables/zelda3.sfc
/tables/zelda3.smc
/saves/*.sav
/zelda3
/.vs/
__pycache__
*.o